.footer {
  background-color: $color-neutral-very-dark-blue;
  padding: 2.5rem $spacing-md;
  font-size: 11px;
  text-align: center;
  color: $color-neutral-off-white;
  overflow: hidden;
  margin-top: auto;

  .container{
    width: min(90%, 1200px);
    margin: 0 auto;
  }

  a {
    text-decoration: underline;
    font-weight: $font-bold;
  }
}
