.footer {

  padding: 2.5rem $spacing-md;
  font-size: 11px;
  text-align: center;
  overflow: hidden;
  margin-top: auto;

  .container{
    width: min(90%, 1200px);
    margin: 0 auto;
  }

  a {
    text-decoration: underline;
    font-weight: $font-bold;
  }
}
