%flex-mobile{
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
}

.header{
    width: min(90vw, 1200px);
    margin: $spacing-xl auto;
    @extend %flex-mobile;

    @media only screen and (min-width:$breakpoint-large) {
        margin: 0;
        // grid-column: 1 / 4;
        flex: 1 1 727px;
        width: unset;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    picture{
        @media only screen and (min-width:$breakpoint-large){
            grid-column: 1 / -1;
        }
    }

    &__intro{
        @extend %flex-mobile;
        @media only screen and (min-width:$breakpoint-large){
            grid-column: 1/-1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .heading-1{
                font-size: 3.5rem;
                line-break: loose;
            }
        }
    }

    &__cta{
        @extend %flex-mobile;
    }

    .cta-btn{
        text-decoration: none;
        display: block;
        background-color: $color-primary-soft-red;
        width: max-content;
        color: $color-neutral-very-dark-blue;
        font-weight: $font-bold;
        text-transform: uppercase;
        padding: $spacing-sm $spacing-xl;
        letter-spacing: 2px;
        transition: all .5s;
        margin-top: auto;

        &:hover, &:active{
            color: $color-neutral-off-white;
            background: $color-neutral-very-dark-blue;
        }

        &:active{
            transform: scale(0.9);
        }
    }
}