.latest-section {
  background-color: $color-neutral-very-dark-blue;
  padding: $spacing-md;

  @media only screen and (min-width:$breakpoint-large) {
        margin: 0;
        grid-column: 4 / span 1;
    }

  &__item{
    padding: $spacing-xl 0;
  }

  &__item:not(:last-of-type) {
    border-bottom: 1px solid $color-neutral-dark-grayish-blue;
  }

  .heading-3 {
    color: $color-neutral-off-white;
    font-weight: $font-bold;
    margin-bottom: $spacing-xs;
  }
}
